#homelist{
    text-align: left;
    color: #ffbf67;
    /* color: lavender; */
}
#home {
    text-align: center;
    background-color: transparent;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
  }

#ch {
    align-self: end;
}

label {
    color: #ffbf67;
    margin: 20px;
}

.myStyle{
    background-color: transparent;
    color: lavender;
}

.navbar-dark .navbar-brand {
    color: lavenderblush;
    font-size: x-large;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: lavenderblush;
    font-size: large;
}

.navbar-dark .navbar-nav .nav-link {
    color: lavenderblush;
    font-size: large;
}

h2 {
    padding: 7px;
    color: lavenderblush;
    white-space: pre-line;
    /*text-align: center;*/
    margin: 7px;
}

.level1 {
    margin-top: 80px;
    /*text-align: center;*/
    /*justify-content: center;*/
    /*height: 10em;*/
    /*display: flex;*/
    /*align-items: center;*/
}
/*.purple-btn {*/
/*    color: mediumpurple;*/
/*    border: 1px solid mediumpurple;*/
/*}*/
.purple-btn {
    background-color: mediumpurple;
    color: lavenderblush;
    border: 1px solid mediumpurple;
}

#searchRes {
    text-align: center;
    color: mediumpurple;
}


h3, h4 {
    text-align: left;
    color: #ffbf67;
}

h5 {
    text-align: left;
    color: lavenderblush;
}
h5 a {
    color: #ffacb6;

}
h5 a:hover {
    color: #5cc6e3;
}

.search, .downloadFile {
    /*text-align: center;*/
    margin: auto;
    width: 57%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

/*#searchBtn{*/
/*    position: absolute;*/

/*}*/

.searchBar {
    width: 86%;
}

#selector, #chooseFile{
    margin-right: auto;
}

#selectall, #deselectall {
    margin-bottom: 5px;
}

#download, #fileName, #fileType {
    width: min-content;
    margin-bottom: 5px;

}

.col-sm-8 {
    border: none;
    /*border-radius: 20px;*/
    padding: 25px;
    background: rgba(147, 157, 255, 0.2);
    /*border-radius: 20px;*/
    overflow-wrap: break-word;

}

h2 a {
    padding: 0px;
    color: #ffd2bc;
    white-space: pre-line;
    text-align: center;
    /*border-style: wave;*/
    border: 6px solid #ffd2bc;
    border-radius: 20px;
    padding: 5px;
}

h2 a:hover{
    text-decoration: none;
    color: lightpink;
    border: 7px solid lightpink;
}

.email{
    margin-top: 190px;

}

#content-container{
    text-align: center;
    /*background-color: darkseagreen;*/
}

img {
    width: 150px;
    height: auto;
    text-align: center;

    margin-top: 130px;
    justifyContent: 'center',
}
